<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "myphoto.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Inna Babiichuk</h1>
		<p>Welcome to my travelling blog. This is where I share entertaining stories, useful travel tips, fun videos, amazing photography, and crazy adventures with 
			you from my perpetual travels around the world</p>
		<p>"We travel not to ecsape life, but for life not to escape us". - Anonymous</p>
		<p>If you like to travel as much as I love so you are in a right spot. Only best places of our planet and the most interesting facts here. Cool stuff, right!.</p>
		<p>I  am also a self taught web developer who combine work and travel</p>
		<p>If you'd like to follow me you can find more funny travel stories, musings, and cool travel photos on <a href="https://www.instagram.com/babiichuk_inna/?hl=en">Instagram</a>
		or <a href="https://www.facebook.com/inna.babiichuk">Facebook</a>. Lets travel together, I promise it gonna be fun :)</p>
	</div>
</div>