// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 .container {
  margin-top: 20px;
}

 
 #form {
  width: 600px;
 }
#form {
  margin: 0 auto;
  
}
.header h2{
  text-align: center;
}
.paper {
  background-color: #fff;
  /* Need position to allow stacking of pseudo-elements */
  position: relative;
  /* Padding for demo purposes */
  padding: 30px;
}

.paper,
.paper::before,
.paper::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

/* Second sheet of paper */
.paper::before {
  left: 7px;
  top: 5px;
  z-index: -1;
}

/* Third sheet of paper */
.paper::after {
  left: 12px;
  top: 10px;
  z-index: -2;
}

h2 { text-shadow: 1px 1px 1px #000, 3px 3px 5px grey; }
h4 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sidebar {
	width: 13vw;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 7em 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		width: 5vw;
		position: absolute;
		right: 2.5vw;
		top: 1.5vw;
		left: 5vw;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 2.5vw;
		padding-left: 5vw;
		.category {
			font-weight: 700;
			font-size: 0.9vw;
			text-transform: uppercase;
			color: #33acb7;
		}
		li {
			padding: 0.2vw;
			a {
				color: #9eafba;
				text-decoration: none;
				font-size: 1.2vw;
				transition: all .4s ease;
				&:hover {
					color: #33acb7;
				}
			}
		}
	
	}
	
}
.footer {
  color: grey;
  text-align: center;
  background-color: #f5f7f9;
  padding-top: 0.5vw;
  border-top: 1px solid #d6dce0;
  margin-left: 13vw;
}

#main_content {
	margin-left: 13vw;
	#header {
		padding: 0.7vw 2.5vw;
		border-bottom: 1px solid #d6dce0;
		background: #f5f7f9;
		color: #9eafba;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		
	}
	.post_wrapper {
		padding: 3vw;
		border-bottom: 1px solid #d6dce0;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: black;
				font-size: 4vw;
				&:hover {
				color: #33acb7;
				}
			}
		}
		
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 3.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			margin-bottom: 30px;
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 5.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1vw;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		max-width: 90vw;
		
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.2vw;
		border-radius: 1.5em;
		margin-left: 30vw;
		margin-right: 30vw;
		margin-bottom: 5vw;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}
#main_content #post_content #comments input[type="text"], #main_content #post_content #comments textarea {
    width: 50vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
label {
	margin-left: 10vw;
	font-size: 1.3vw;
}
#main_content #post_content #comments h3 {
    margin-top: 2em;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
}
h2 {
	font-size: 2.5vw;
}
#carousel-example-generic {
	margin-top: 3%;
	width: 42vw;
    margin-left: -2.2%;
    margin-right: -2.2%;
}

@media (max-width: 768px) {
	#sidebar {
		padding: 3.7em 0 0 0;
		line-height: 1;
	}
	#carousel-example-generic {
	margin-top: 3%;
	width: 70vw;
    margin-left: 10%;
    width: 10vw;
	}
}
@media (max-width: 414px) {
		#sidebar {
		padding: 2.2em 0 0 0;
		line-height: 0.5;
	
	}
	body {
		line-height: 0.6;
	}
	#carousel-example-generic {
	margin-top: 3%;
	width: 70vw;
    margin-left: 10%;
	}
		p {
			line-height: 1.5;
		}
		.paper {
  
  padding: 5px;
}


/* Second sheet of paper */
.paper::before {
  left: 1px;
  top: 1px;
  z-index: -1;
}

/* Third sheet of paper */
.paper::after {
  left: 1px;
  top: 1px;
  z-index: -1;
}
}
